In [1]:
import sqlite3

conn = sqlite3.connect("flight_delay_analysis.db")
cur = conn.cursor()

# List all tables
cur.execute("SELECT name FROM sqlite_master WHERE type='table';")
tables = [t[0] for t in cur.fetchall()]

for t in tables:
    print(f"\n===== {t} =====")
    cur.execute(f"PRAGMA table_info({t});")
    for col in cur.fetchall():
        print(col)

===== Airline =====
(0, 'airline_id', 'INTEGER', 0, None, 0)
(1, 'FL_DATE', 'TIMESTAMP', 0, None, 0)
(2, 'OP_UNIQUE_CARRIER', 'TEXT', 0, None, 0)
(3, 'OP_CARRIER_FL_NUM', 'INTEGER', 0, None, 0)
(4, 'ORIGIN_AIRPORT_ID', 'INTEGER', 0, None, 0)
(5, 'ORIGIN', 'TEXT', 0, None, 0)
(6, 'ORIGIN_CITY_NAME', 'TEXT', 0, None, 0)
(7, 'ORIGIN_STATE_ABR', 'TEXT', 0, None, 0)
(8, 'ORIGIN_STATE_FIPS', 'INTEGER', 0, None, 0)
(9, 'ORIGIN_STATE_NM', 'TEXT', 0, None, 0)
(10, 'ORIGIN_WAC', 'INTEGER', 0, None, 0)
(11, 'DEST_AIRPORT_ID', 'INTEGER', 0, None, 0)
(12, 'DEST', 'TEXT', 0, None, 0)
(13, 'DEST_CITY_NAME', 'TEXT', 0, None, 0)
(14, 'DEST_STATE_ABR', 'TEXT', 0, None, 0)
(15, 'DEST_STATE_FIPS', 'INTEGER', 0, None, 0)
(16, 'DEST_STATE_NM', 'TEXT', 0, None, 0)
(17, 'DEST_WAC', 'INTEGER', 0, None, 0)
(18, 'CRS_DEP_TIME', 'INTEGER', 0, None, 0)
(19, 'DEP_TIME', 'INTEGER', 0, None, 0)
(20, 'DEP_DELAY', 'INTEGER', 0, None, 0)
(21, 'DEP_DELAY_NEW', 'INTEGER', 0, None, 0)
(22, 'DEP_DEL15', 'INTEGER', 0, None, 0)
(23, 'DEP_DELAY_GROUP', 'INTEGER', 0, None, 0)
(24, 'DEP_TIME_BLK', 'TEXT', 0, None, 0)
(25, 'CRS_ARR_TIME', 'INTEGER', 0, None, 0)
(26, 'ARR_TIME', 'INTEGER', 0, None, 0)
(27, 'ARR_DELAY', 'INTEGER', 0, None, 0)
(28, 'ARR_DEL15', 'INTEGER', 0, None, 0)
(29, 'ARR_DELAY_GROUP', 'INTEGER', 0, None, 0)
(30, 'ARR_TIME_BLK', 'TEXT', 0, None, 0)
(31, 'CANCELLED', 'INTEGER', 0, None, 0)
(32, 'CANCELLATION_CODE', 'TEXT', 0, None, 0)
(33, 'DIVERTED', 'INTEGER', 0, None, 0)
(34, 'CRS_ELAPSED_TIME', 'INTEGER', 0, None, 0)
(35, 'ACTUAL_ELAPSED_TIME', 'INTEGER', 0, None, 0)
(36, 'AIR_TIME', 'INTEGER', 0, None, 0)
(37, 'FLIGHTS', 'INTEGER', 0, None, 0)
(38, 'DISTANCE', 'INTEGER', 0, None, 0)
(39, 'DISTANCE_GROUP', 'INTEGER', 0, None, 0)
(40, 'CARRIER_DELAY', 'INTEGER', 0, None, 0)
(41, 'WEATHER_DELAY', 'INTEGER', 0, None, 0)
(42, 'NAS_DELAY', 'INTEGER', 0, None, 0)
(43, 'SECURITY_DELAY', 'INTEGER', 0, None, 0)
(44, 'LATE_AIRCRAFT_DELAY', 'INTEGER', 0, None, 0)
(45, 'DEP_DELAY_OVER15', 'INTEGER', 0, None, 0)
(46, 'ARR_DELAY_OVER15', 'INTEGER', 0, None, 0)
(47, 'TOTAL_DELAY', 'INTEGER', 0, None, 0)
(48, 'ANY_DELAY', 'INTEGER', 0, None, 0)

===== FuelIndex =====
(0, 'date', 'TIMESTAMP', 0, None, 0)
(1, 'jet_fuel_index', 'REAL', 0, None, 0)

===== FuelPrice =====
(0, 'date', 'TIMESTAMP', 0, None, 0)
(1, 'jet_fuel_price', 'REAL', 0, None, 0)

===== StockPrice =====
(0, 'stock_price_id', 'INTEGER', 0, None, 0)
(1, 'date', 'TIMESTAMP', 0, None, 0)
(2, 'price', 'REAL', 0, None, 0)
(3, 'open_price', 'REAL', 0, None, 0)
(4, 'high_price', 'REAL', 0, None, 0)
(5, 'low_price', 'REAL', 0, None, 0)
(6, 'volume', 'INTEGER', 0, None, 0)
(7, 'change_percentage', 'REAL', 0, None, 0)
(8, 'company_name', 'TEXT', 0, None, 0)
(9, 'iata_code', 'TEXT', 0, None, 0)

===== Carriers =====
(0, 'iata_code', 'TEXT', 0, None, 0)
(1, 'carrier_name', 'TEXT', 0, None, 0)

===== Airports =====
(0, 'airport_id', 'INTEGER', 0, None, 0)
(1, 'airport_code', 'TEXT', 0, None, 0)
(2, 'city_name', 'TEXT', 0, None, 0)
(3, 'state_abbr', 'TEXT', 0, None, 0)
(4, 'state_name', 'TEXT', 0, None, 0)

===== Weather =====
(0, 'date', 'TIMESTAMP', 0, None, 0)
(1, 't2m', 'REAL', 0, None, 0)
(2, 'v10', 'REAL', 0, None, 0)
(3, 'snc', 'REAL', 0, None, 0)
(4, 'sde', 'REAL', 0, None, 0)
(5, 'city_name', 'TEXT', 0, None, 0)
(6, 'state_abbr', 'TEXT', 0, None, 0)
(7, 'state_name', 'TEXT', 0, None, 0)
(8, 'lat', 'REAL', 0, None, 0)
(9, 'lng', 'REAL', 0, None, 0)
(10, 't2m_C', 'REAL', 0, None, 0)

In [2]:
import sqlite3
import pandas as pd

conn = sqlite3.connect("flight_delay_analysis.db")

query = """
SELECT *
FROM Airline A
JOIN Weather W
    ON A.FL_DATE=W.DATE AND A.ORIGIN_CITY_NAME=W.CITY_NAME and A.ORIGIN_STATE_ABR=W.STATE_ABBR
JOIN FuelPrice FP
    ON A.FL_DATE=FP.DATE
JOIN StockPrice SP
    ON A.FL_DATE=SP.DATE AND A.OP_UNIQUE_CARRIER=SP.iata_code
WHERE A.OP_UNIQUE_CARRIER='AA'
"""

df = pd.read_sql_query(query, conn)
df.head()

,airline_id,FL_DATE,OP_UNIQUE_CARRIER,OP_CARRIER_FL_NUM,ORIGIN_AIRPORT_ID,ORIGIN,ORIGIN_CITY_NAME,ORIGIN_STATE_ABR,ORIGIN_STATE_FIPS,ORIGIN_STATE_NM,...,stock_price_id,date,price,open_price,high_price,low_price,volume,change_percentage,company_name,iata_code
0,1,2025-07-01 00:00:00,AA,1,12478,JFK,New York,NY,36,New York,...,2227,2025-07-01 00:00:00,11.52,11.19,11.71,11.16,50300000,2.67,American Airlines,AA
1,6266,2025-07-01 00:00:00,AA,2300,14100,PHL,Philadelphia,PA,42,Pennsylvania,...,2227,2025-07-01 00:00:00,11.52,11.19,11.71,11.16,50300000,2.67,American Airlines,AA
2,6267,2025-07-01 00:00:00,AA,2307,11057,CLT,Charlotte,NC,37,North Carolina,...,2227,2025-07-01 00:00:00,11.52,11.19,11.71,11.16,50300000,2.67,American Airlines,AA
3,6268,2025-07-01 00:00:00,AA,2307,14122,PIT,Pittsburgh,PA,42,Pennsylvania,...,2227,2025-07-01 00:00:00,11.52,11.19,11.71,11.16,50300000,2.67,American Airlines,AA
4,6269,2025-07-01 00:00:00,AA,2322,14100,PHL,Philadelphia,PA,42,Pennsylvania,...,2227,2025-07-01 00:00:00,11.52,11.19,11.71,11.16,50300000,2.67,American Airlines,AA